<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
    <body>
        <%- include('partials/nav') %>
        <div class='container mt-5'>
            <div class='row'>
                <h2 style="color: brown;">Descripcion de las diferentes variable externas que deberas de configurar para poder ejecutar el proyecto</h2>
                <section>
                    <div><b>PORT =</b> Numero de puerto de escucha</div>
                </section>
                <section>
                    <h4 style="color: blue;"> EL proyecto utiliza mongodb Atlas para su funcionamiento, por lo que deberas configurar:</h4>
                    <div><b>MONGO_USER =</b> Usuario de mongo Atlas</div>
                    <div><b>MONGO_PASS =</b> Contrase침a de mongo atlas</div>
                    <div><b>MONGO_ATLAS_ENDPOINT =</b> Endpoint de mongo atlas ej: "@cluster0.11111111.mongodb.net/ecommerce"</div>
                </section>
                <section>
                    <h4 style="color: blue;">Tambien necesitaras generar una contrase침a de aplicacion de correo de google para los avisos que se envian al mail</h4>
                    <div><b>TEST_MAIL =</b> Email que se utilizara para enviar y recibir los mails</div>
                    <div><b>TEST_MAIL_PASS =</b> Contrase침a de aplicaciones otorgada por google</div>
                </section>
                <section>
                    <h4 style="color: blue;">Por ultimo, la aplicacion utiliza Jeson Web Token para poder ingresar a las rutas, por lo cual deber치s configurar:</h4>
                    <div><b>JWT_SECRET =</b> palabra secreta para sifrar los JWT</div>
                    <div><b>EXPIRATION_TIME_JWT =</b> Tiempo de expiracion de losm JWT</div>
                </section>
            </div>
        </div>
    </body>
</html>